 <!-- CREATE DUE MODAL -->
 <div data-te-modal-init
    class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
    id="updateModal"
    tabindex="-1"
    aria-labelledby="updateModalLabel"
    aria-hidden="true">
        <div data-te-modal-dialog-ref
            class="pointer-events-none absolute right-7 h-auto w-full translate-x-[100%] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px] min-[992px]:max-w-[800px]">
            <div
                class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
                <div class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
                    <!--Modal title-->
                    <h5 class="text-3xl font-medium font-barlow text-neutral-800 dark:text-neutral-200" id="updateModalLabel">Mise à jour</h5>
                    <!--Close button-->
                    <button type="button" data-te-modal-dismiss aria-label="Close" id="update_button"
                        class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div> 

                <!--Modal body-->
                <div class="relative flex-auto p-4" data-te-modal-body-ref>
                    <form #updateDueForm="ngForm" (ngSubmit)="updateDue(updateDueForm)">
                        <div class="flex flex-col mb-3">
                            <label for="phone" class="w-fit mb-3">Montant</label>
                            <input type="number" name="amount" id="amount_id" ngModel="{{updatedDue ? updatedDue.amount : 0}}"
                                    class="border outline-none px-2 h-11 rounded-md bg-gray-100
                                    focus:border-t-0 focus:border-x-0
                                    focus:border-b-4 focus:border-b-greenColor focus:rounded-none focus:bg-green2 focus:shadow-sm
                                    ">
    
                            <!--<div class="mt-2" *ngIf=".get('amount')?.invalid && isSubmitted">
                                <p class="text-red-500 text-sm" *ngIf="createDueForm.get('amount')?.hasError('required')">Le montant est requis</p>
                            </div>-->
                        </div>
                        
                        <div class="flex flex-col mb-3">
                            <label for="operator" class="w-fit mb-3">Opérateur</label>
                            <select name="operator" ngModel="{{updatedDue ? updatedDue.operator : 'WAVE'}}"
                                class="border outline-none px-2 h-11 rounded-md bg-gray-100
                                focus:border-t-0 focus:border-x-0
                                focus:border-b-4 focus:border-b-greenColor focus:rounded-none focus:bg-green2 focus:shadow-sm">
                                <option value="WAVE">WAVE</option>
                                <option value="OM">OM</option>
                            </select>
                            <!--<div class="mt-2" *ngIf="createDueForm.get('role')?.invalid && isSubmitted">
                                <p class="text-red-500 text-sm" *ngIf="createDueForm.get('operator')?.hasError('required')">L'opérateur est requis</p>
                            </div>-->
                        </div>
                        <div>
                            <button type="submit"
                                    class="w-60 bg-itemColorActive text-white text-center px-4 py-2 rounded-md 
                                    active:bg-red-500 active:scale-95 text-xl disabled:bg-red-200">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>