<div class="w-full min-h-screen flex flex-col">
    <ng-container *ngIf="!loader; else loaderTmpl">
            <div class="grid grid-cols-5 gap-4 py-5 px-2">
                <div class="card bg-gray-300 flex flex-col justify-center items-center space-y-1 py-5 rounded-md">
                    <span class="text-4xl font-barlow">{{userDatas[0].total + userDatas[1].total}}</span>
                    <span class="text-xl font-montserrat">Utilisateurs</span>
                </div>
                <div class="col-span-2 card bg-green-100 flex flex-col justify-center items-center space-y-1 py-5 rounded-md">
                    <span class="text-4xl font-barlow">{{ userDatas[0]._id === true ? userDatas[0].total : userDatas[1].total}}</span>
                    <span class="text-xl font-montserrat">Utilisateurs actifs</span>
                </div>
                <div class="col-span-2 card bg-red-100 flex flex-col justify-center items-center space-y-1 py-5 rounded-md">
                    <span class="text-4xl font-barlow">{{ userDatas[1]._id === false ? userDatas[1].total : userDatas[0].total}}</span>
                    <span class="text-xl font-montserrat">Utilisateurs bloqués</span>
                </div>
            </div>

            <div class="grid grid-cols-5 gap-4 py-5 px-2">

                <div class="card bg-gray-300 flex flex-col justify-center items-center space-y-1 py-5 rounded-md">
                    <span class="text-4xl font-barlow">{{duesDatas[0].total + duesDatas[1].total}}</span>
                    <span class="text-xl font-montserrat">Cotisations</span>
                </div>
                <div class="col-span-2 card bg-blue-100 flex flex-col justify-center items-center space-y-1 py-5 rounded-md">
                    <span class="text-4xl font-barlow">{{ duesDatas[0]._id === 'WAVE' ? duesDatas[0].total : duesDatas[1].total}}</span>
                    <span class="text-xl font-montserrat">Cotisations via WAVE</span>
                </div>
                <div class="col-span-2 card bg-orange-100 flex flex-col justify-center items-center space-y-1 py-5 rounded-md">
                    <span class="text-4xl font-barlow">{{ duesDatas[1]._id === 'OM' ? duesDatas[1].total : duesDatas[0].total}}</span>
                    <span class="text-xl font-montserrat">Cotisations via OM</span>
                </div>
            </div>
        <div class="px-2">
                <div class="grid grid-cols-3 gap-2">
                    <div class="col-span-2">
                        <app-bar-chart [datas]="monthDatas"></app-bar-chart>
                    </div>
                    <div class="border shadow-lg p-2">
                        <h2 class="text-center text-3xl font-barlow">Montant récolté</h2>
                        <div class="flex flex-col space-y-5 mt-5">
                            <div class="flex justify-between items-center" *ngFor="let item of duesDatas">
                                <span class="p-1 w-20 rounded-sm text-center"
                                [class]="item._id === 'WAVE' ? 'bg-blue-100' : 'bg-orange-100'">{{item._id === 'WAVE' ? 'WAVE' : 'OM'}}</span>
                                <span class="text-2xl font-semibold font-barlow"> {{item._id === 'WAVE' ? item.totalAmount : item.totalAmount}} FCFA</span>
                            </div>

                            <div class="flex justify-between items-center">
                                <span class="p-1 bg-gray-300 w-20 rounded-sm text-center">Total</span>
                                <span class="text-2xl font-semibold font-barlow">{{duesDatas[0].totalAmount + duesDatas[1].totalAmount}} FCFA</span>
                            </div>
                        </div>
                        <div class="border flex justify-center items-center mt-5">
                            <app-pie-chart [datas]="duesDatas"></app-pie-chart>
                        </div>
                    </div>
                </div>
        </div>
    </ng-container>
    <ng-template #loaderTmpl>
        <div class="flex justify-center items-center h-96">
            <app-loader></app-loader>
        </div>
    </ng-template>
</div>
