<div data-te-modal-init
    class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
    id="changeModal" 
    tabindex="-1"
    aria-labelledby="changeModalLabel"
    aria-hidden="true">

    <div data-te-modal-dialog-ref
    class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
        <div
            class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
            <div class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
                <!--Close button-->
                <button type="button" data-te-modal-dismiss aria-label="Close" id="password_button"
                    class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div> 

            <!--Modal body-->
            <div class="relative flex-auto p-4" data-te-modal-body-ref>
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                    <!-- Password -->
                    <div class="flex flex-col mb-3 relative">
                        <label for="password_id" class="w-fit mb-3">Mot de passe actuel</label>
                        <input [type]="passwordVisible ? 'text' : 'password'" name="password" id="password_id" formControlName="password" minlength="8"
                               class="border outline-none px-2 h-11 rounded-md bg-gray-100 text-xl
                               focus:border-t-0 focus:border-x-0
                               focus:border-b-4 focus:border-b-greenColor focus:rounded-none focus:bg-green2 focus:shadow-sm
                               ">
                        <i [ngClass]="passwordVisible ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" class="absolute cursor-pointer text-xl right-3 top-11"
                        (click)="passwordVisible = !passwordVisible"></i>
                        <div class="mt-2" *ngIf="changePasswordForm.get('password')?.invalid && isSubmitted">
                                <p class="text-red-500 text-sm" *ngIf="changePasswordForm.get('password')?.hasError('required')">Le mot de passe actuel est requis</p>
                                <p class="text-red-500 text-xs" *ngIf="changePasswordForm.get('password')?.hasError('minlength')">Le mot de passe actuel doit comporter au moins de 8 caractères</p>
                        </div>
                    </div>

                    <!-- New password-->
                    <div class="flex flex-col mb-3 relative">
                        <label for="newPassword_id" class="w-fit mb-3">Nouveau mot de passe</label>
                        <input [type]="newPasswordVisible ? 'text' : 'password'" name="newPassword" id="newPassword_id" formControlName="newPassword" minlength="8"
                               class="border outline-none px-2 h-11 rounded-md bg-gray-100 text-xl
                               focus:border-t-0 focus:border-x-0
                               focus:border-b-4 focus:border-b-greenColor focus:rounded-none focus:bg-green2 focus:shadow-sm
                               ">
                        <i [ngClass]="newPasswordVisible ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" class="absolute cursor-pointer text-xl right-3 top-11"
                        (click)="newPasswordVisible = !newPasswordVisible"></i>
                        <div class="mt-2" *ngIf="changePasswordForm.get('newPassword')?.invalid && isSubmitted">
                                <p class="text-red-500 text-sm" *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">Le mot de passe actuel est requis</p>
                                <p class="text-red-500 text-xs" *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">Le mot de passe actuel doit comporter au moins de 8 caractères</p>
                        </div>
                    </div>

                    <!-- Confirm password -->
                    <div class="flex flex-col mb-3 relative">
                        <label for="confirmPassword_id" class="w-fit mb-3">Confirmer le mot de passe</label>
                        <input [type]="confirmPasswordVisible ? 'text' : 'password'" name="confirmPassword" id="confirmPassword_id" formControlName="confirmPassword" minlength="8"
                               class="border outline-none px-2 h-11 rounded-md bg-gray-100 text-xl
                               focus:border-t-0 focus:border-x-0
                               focus:border-b-4 focus:border-b-greenColor focus:rounded-none focus:bg-green2 focus:shadow-sm
                               ">
                        <i [ngClass]="confirmPasswordVisible ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" class="absolute cursor-pointer text-xl right-3 top-11"
                        (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
                        <div class="mt-2" *ngIf="changePasswordForm.get('confirmPassword')?.invalid && isSubmitted">
                                <p class="text-red-500 text-sm" *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">La confirmation du mot de passe est requis</p>
                                <p class="text-red-500 text-xs" *ngIf="changePasswordForm.get('confirmPassword')?.hasError('minlength')">La confirmation du mot de passe doit comporter au moins de 8 caractères</p>
                        </div>
                    </div>
                    <div>
                        <button type="submit"
                                class="w-60 bg-itemColorActive text-white text-center px-4 py-2 rounded-md 
                                active:bg-red-500 active:scale-95 text-xl disabled:bg-red-200">Changer</button>
                    </div>
                </form>
            </div>
        </div>
</div>
</div>